.container-messagelist{

    flex: 1;
    position: relative;
    /* background: #e4dcd4; */
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px 5% 2pc;
  
    .icon {
      color: rgb(166, 168, 170);
      margin-right: 5px;
      margin-bottom: -1px;
    }
}

.datewrapper{
    text-align: center;
  margin: 10px 0 14px;
  position: relative;
  z-index: 9;
}
.date-message{
    background: rgb(30, 42, 48);
    display: inline-block;
    color: rgba(241, 241, 242, 0.92);
    font-size: 0.75rem;
    padding: 7px 10px;
    border-radius: 5px;
}

.enc-msg{
    background: rgb(32, 39, 43);
    color: rgb(250, 217, 100);
    font-size: 0.77rem;
    text-align: center;
    padding: 5px 10px;
    position: relative;
    margin-bottom: 8px;
    border-radius: 5px;
    line-height: 20px;
    z-index: 9;
}

.msg-group{
z-index: 9;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  position: relative;

  .chat__msg--sent {
    background:rgb(5, 97, 98);
    align-self: flex-end;
  }

  .chat__msg--received {
    background:rgb(38, 45, 49);
    align-self: flex-start;
  }

  & > *:nth-child(1):not(.chat__msg--sent)::before,
  .chat__msg--sent + .chat__msg--received::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: -8px;
    border-top: 6px solid rgb(38, 45, 49);
    border-right: 6px solid rgb(38, 45, 49);
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
  }

  & > *:nth-child(1):not(.chat__msg--received)::before,
  .chat__msg--received + .chat__msg--sent::before {
    right: -8px;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    border-top: 6px solid rgb(5, 97, 98);
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid rgb(5, 97, 98);
  }

  .chat__msg-status-icon {
    color: rgb(166, 168, 170);
    margin-left: 3px;
  }

  .chat__msg-status-icon--blue {
    color:#0da9e5;
  }
}

.chat-message{
    padding: 6px 7px 8px 9px;
  margin-bottom: 12px;
  font-size: 0.85rem;
  color: rgba(241, 241, 242, 0.88);
  width: fit-content;
  max-width: 95%;
  line-height: 20px;
  border-radius: 5px;
  position: relative;
  white-space: pre-line;
  display: flex;

  @media screen and (min-width: 1301px) {
    max-width: 65%;
  }

  @media screen and (min-width: 1000px) and (max-width: 1300px) {
    max-width: 75%;
  }

  @media screen and (min-width: 900px) and (max-width: 1000px) {
    max-width: 85%;
  }
}

.filler{
    width: 65px;
    display: inline-block;
    height: 3px;
    background: transparent;
}
.footer-msg{
    position: absolute;
    display: flex;
    align-items: center;
    right: 7px;
    bottom: 3px;
    color:rgb(166, 168, 170);
    font-size: 0.7rem;
    font-weight: 500;
}